@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: "Inter", sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.checkbox {
  display: none;
}

.label {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  width: 50px;
  height: 23px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 20px;
  border-radius: 50px;
  cursor: pointer;
}

.ballToggle {
  background: hsl(230, 17%, 14%);
  position: absolute;
  top: 2px;
  left: 4px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transition: transform 0.15s linear;
}

.checkbox:checked+.label .ballToggle {
  transform: translateX(24px);
  background: hsl(0, 0%, 100%);
}

.checkbox:checked+.label {
  background: hsl(230, 22%, 74%);
}